/* Please see documentation at https://learn.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand[b-uoyi49ch5j] {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

a[b-uoyi49ch5j] {
  color: #0077cc;
}

.btn-primary[b-uoyi49ch5j] {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.nav-pills .nav-link.active[b-uoyi49ch5j], .nav-pills .show > .nav-link[b-uoyi49ch5j] {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.border-top[b-uoyi49ch5j] {
  border-top: 1px solid #e5e5e5;
}
.border-bottom[b-uoyi49ch5j] {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow[b-uoyi49ch5j] {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy[b-uoyi49ch5j] {
  font-size: 1rem;
  line-height: inherit;
}

.footer[b-uoyi49ch5j] {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  line-height: 60px;
  text-align: center;
  background: #f5f5f5; /* cinza claro */
  color: #222; /* preto suave */
  z-index: 1030;
  white-space: normal;
  border-top: 1px solid #d1d5db; /* cinza mais escuro para a borda */
}

.footer .container[b-uoyi49ch5j] {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 60px;
  width: 100%;
  padding: 0;
}

.footer .container span[b-uoyi49ch5j], .footer .container a[b-uoyi49ch5j] {
  text-align: center;
  margin: 0 auto;
  width: auto;
  color: #222;
}

.footer .container a[b-uoyi49ch5j] {
  color: #555;
  text-decoration: underline;
}

.footer .container a:hover[b-uoyi49ch5j] {
  color: #000;
}

body[b-uoyi49ch5j] {
  background: #f5f5f5 !important;
  color: #222 !important;
}
