@page "{id:int}"
@model TarefasApp.Pages.EditarModel

<div class="row justify-content-center">
    <div class="col-md-6">
        <div class="card shadow-sm border-0">
            <div class="card-header bg-white text-dark border-0">
                <h2 class="mb-0 fw-light">Editar Tarefa</h2>
            </div>
            <div class="card-body bg-light">
                <form method="post" class="row g-2">
                    <div class="col-12 mb-2">
                        <input asp-for="Tarefa.Titulo" class="form-control border-0 shadow-sm" required />
                    </div>
                    <div class="col-12 mb-3">
                        <input asp-for="Tarefa.Descricao" class="form-control border-0 shadow-sm" required />
                    </div>
                    <div class="col-12 d-flex justify-content-between">
                        <button type="submit" class="btn btn-success shadow-sm">Salvar</button>
                        <a asp-page="/Index" class="btn btn-outline-secondary">Cancelar</a>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
