@page "{id:int}"
@model TarefasApp.Pages.EditarModel

<div class="row justify-content-center">
    <div class="col-md-6">
        <div class="card shadow-sm">
            <div class="card-header bg-warning text-dark">
                <h2 class="mb-0">Editar Tarefa</h2>
            </div>
            <div class="card-body">
                <form method="post" class="row g-2">
                    <div class="col-12 mb-2">
                        <input asp-for="Tarefa.Titulo" class="form-control" required />
                    </div>
                    <div class="col-12 mb-3">
                        <input asp-for="Tarefa.Descricao" class="form-control" required />
                    </div>
                    <div class="col-12 d-flex justify-content-between">
                        <button type="submit" class="btn btn-success">Salvar</button>
                        <a asp-page="/Index" class="btn btn-secondary">Cancelar</a>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
